@charset "utf-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

/****************************
* COMMON
*****************************/
*{
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #00A1FE;
    background-image:url(img/im04.png);
    background-size: cover;
}

main {
    width: 1000px;
    margin: 80px auto;
    padding: 80px;
    background: #fff;
}

img {
    max-width: 100%;
}

/********************
* 見出し
*********************/
h2 {
    font-size: 24px;
    padding: 16px 0;
    border-top: 2px solid #003CFF;
    border-bottom: 2px solid #003CFF;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px;
    padding: 4px 0 4px 16px;
    border-left: 8px solid #003CFF;
    margin-bottom: 20px;
    color: #003CFF;

}
/********************
* コンテンツ
*********************/
.contents-area {
    display: flex;
    gap: 40px;
}

.left-area,
.right-arer {
    width: 400px;
}

.contents {
    padding-left: 24px;
    margin-bottom: 20px;
}

/****************************
* section#profile
*****************************/
#profile {
    margin-bottom: 80px;
}

#profile img {
    display: block;
    margin: auto;
}

.my-name {
    font-size: 24px;
    text-align: center;
    margin: 40px 0;
    color: #003CFF;
}

.my-name rt {
    margin-bottom: 4px;
}

.my-intro {
    width: 560px;
    margin: 0 auto 40px;
}